@charset"UTF-8";

/*------------------------------
          全体のCSS
--------------------------------*/

body {
    padding-top:120px;
} 
p {
    font-size:13px;
}

.dish {
    background-repeat: no-repeat;
    background-position: 7px;
    border-bottom: 2px solid #c9baa8;
    font-size: 16px;
    color: #664433;
    padding-left: 27px;
    background-image: url(icon.png);
    background-size: 15px 15px;
    line-height: 1.7;
}
/*-----------------------------
       ナビゲーション
------------------------------*/
.logo {
    margin: 10px;
}

.nav-link {
    font-size: 14px;
}

.border_i {
    border-left: 1px solid #bdbcbc;
    padding-left: 10px;
}

.border_ii {
    border-left: 1px solid #bdbcbc;
    padding-right: 30px;
}

@media screen and (max-width: 767px) {
.img_logo{
    padding-left: 50px;
}
.navbar-nav {
    text-align: center;
}

.border_i {
		display: none;
	}
.border_ii {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	
}

/*------------------------------
    料理別・ジャンル別レシピ  
------------------------------*/

a.list-group-item {
    border:none;
    border-bottom: 1px dotted #c9baa8;
}
.list-group-item {
    color: #000000;
    background-repeat: no-repeat;
    background-image: url(arrow.png);
    background-position: 7px;
    border-bottom: 1px dotted #c9baa8;
    line-height: 2;
    padding-left: 10px;
    display: block;
}

/*------------------------------
      簡単おすすめレシピ 
------------------------------*/

.recipi_dish {
    font-size: 15.5px;
    color: #664433;
}
/*------------------------------
           Footer   
------------------------------*/
.footer_color {
    color: #000000;
}

   
          
         
